{% extends "layout.html" %}
{% block title %}Add Purchase Rule{% endblock %}

{% block page %}

<form method="post">
    
  {{ form.hidden_tag() }}
    <table>
        {% for field in (form.product1_name, form.gle1, form.amount1, form.product2_name, form.gle2, form.amount2, form.rule_type, form.submit) %}
            <tr>
                <td>{{field.label}}&nbsp;</td>
                <td>{{ field }}</td>
                <td>
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
</form>

{% endblock %}