{% extends "layout.html" %}
{% block title %}Buy Product{% endblock %}

{% block page %}

<div class="container mt-4">

    <div class="jumbotron">
        <h1 class="display-4">{{ product.name }}</h1>
        <p class="lead">From <a href="{{ url_for('buying.view_store', name=store_name) }}">{{ store_name }}</a></p>
        <hr class="my-4">
        <p><strong>Price:</strong> <span class="price">{{ product.price }}</span></p>
        <p><strong>Available Quantity:</strong> <span class="qty-avail">{{ product.quantity }} in stock.</span></p>
        {% if amount %}
            <p class="mb-0">You have {{ amount }} of those in your basket.</p>
        {% else %}
            <p class="mb-0">You don't have this product in your basket.</p>
        {% endif %}
    </div>

    <form method="post" class="mb-4">
        {{ form.hidden_tag() }}
        <div class="row">
            {% for field in (form.amount, form.submit) %}
                <div class="col-md-6 mb-3">
                    <label for="{{ field.id }}">{{ field.label }}</label>
                    {{ field(class="form-control") }}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </form>

    <a href="{{ url_for('buying.view_store', name=store_name) }}" class="btn btn-primary">Return to {{ store_name }}</a>
</div>

{% endblock %}
