{% extends "layout.html" %}
{% block title %}View Cart{% endblock %}

{% block page %}

<h1 class="text-center text-primary display-4">{{ name }}</h1>

{% if not cart.success %}
<div class="alert alert-danger" role="alert">
  Error: {{ cart.description }}
</div>
{% else %}

<div class="container my-4">

    <div class="mb-4">
      <h1 class="text-center">Your cart</h1>
    </div>
    {% if cart.result %}
        <div class="row justify-content-center mb-4">
            <h2 class="text-center">
                Total Cart Price: <span class="badge bg-secondary">{{ cart_price | round(2) }}₪</span>
                <p class="lead">Looks good?</p>
                <p class="text-danger">Notice: If one rule is broken in a store, clicking here will not purchase anything from that store in the current transaction.</p>
                <a href="{{ url_for('buying.checkout_cart') }}" class="btn btn-primary">Proceed to checkout</a>
            </h2>
        </div>
    {% endif %}
    {% for (store_name, basket) in cart.result.items() %}
        <div class="row justify-content-center">
            <div class="col-12">
                <h2>
                    <img src="{{ dicebear_store(store_name) }}" style="height: 2em;" />
                    {{ store_name }}
                </h2>
                {% for (product_name, amount) in basket.amounts.items() %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            {% with product=basket.products[product_name] %}
                            <img src="{{ dicebear_product(product_name) }}" class="img-fluid rounded-start" alt="{{ product_name }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ product_name }}</h5>
                                <p class="card-text">Price of {{ amount }} after discount: <span class="badge bg-secondary">{{ product.discount_price * amount | round(2) }}₪</span></p>
                                {% if product.rule_msg %}
                                    <p class="card-text text-danger">{{ product.rule_msg }}</p>
                                {% endif %}
                                <a href="{{ url_for('buying.buy_product', store_name=store_name, product_name=product_name) }}" class="btn btn-outline-primary">Change amount or remove</a>
                            {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            There's nothing in your cart right now. You should
            <a href="{{ url_for('home.home') }}" class="btn btn-primary">go and buy some stuff. Capitalism is fun</a>
        </div>
    {% endfor %}
</div>

{% endif %}

{% endblock %}