{% extends "layout.html" %}
{% block title %}View Store{% endblock %}

{% block page %}

<h1 style="text-align:center; color:blue; font-size: 2em;">{{ name }}</h1>

{% if not success %}
<p style="color:red;">Error: {{ message }}</p>
{% else %}

{% if ('Add' in permissions) %}
<p>
    <strong>Your Permissions:</strong>
    <div style="width: max-content; max-width: 260px; height: 150px; overflow: auto; border: 1px solid #cccccc; padding: 10px; margin-top: 10px; white-space: normal; word-wrap: break-word;">
        <ul>
        {% for permission in permissions %}
            <li>{{ permission }}</li>
        {% endfor %}
        </ul>
    </div>
</p>
{% endif %}



<div style="display:flex; justify-content:space-around; flex-wrap:wrap; margin-bottom:1em;">

{% if ('ChangeDiscountPolicy' in permissions) %}
    <form action="{{ url_for('discounts.discounts_view', store_name=name) }}">
        <button type="submit" style="background-color: #008CBA; color: white; padding: 10px 24px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;">Manage discount policy</button>
    </form>
{% endif %}

{% if ('ChangePurchasePolicy' in permissions) %}
    <form action="{{ url_for('rules.rules_view', store_name=name) }}">
        <button type="submit" style="background-color: #008CBA; color: white; padding: 10px 24px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;">Manage purchase policy</button>
    </form>
{% endif %}

{% if ('Add' in permissions) %}
    <form action="{{ url_for('products.add_product', store_name=name) }}">
        <button type="submit" style="background-color: #008CBA; color: white; padding: 10px 24px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;">Add product</button>
    </form>
{% endif %}

{% if ('AppointManager' in permissions) %}
    <form action="{{ url_for('staff.appoint_manager', store_name=name) }}">
        <button type="submit" style="background-color: #008CBA; color: white; padding: 10px 24px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;">Appoint Manager</button>
    </form>
{% endif %}

{% if ('AppointOwner' in permissions) %}
    <form action="{{ url_for('staff.appoint_owner', store_name=name) }}">
        <button type="submit" style="background-color: #008CBA; color: white; padding: 10px 24px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;">Appoint Owner</button>
    </form>
{% endif %}

{% if ('CancelManagerAppointment' in permissions) %}
    <form action="{{ url_for('staff.remove_manager', store_name=name) }}">
        <button type="submit" style="background-color: #008CBA; color: white; padding: 10px 24px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;">Remove Manager</button>
    </form>
{% endif %}

{% if ('CancelOwnerAppointment' in permissions) %}
    <form action="{{ url_for('staff.remove_owner', store_name=name) }}">
        <button type="submit" style="background-color: #008CBA; color: white; padding: 10px 24px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;">Remove Owner</button>
    </form>
{% endif %}
</div>

{% if ('AppointOwner' in permissions) %}
    <form action="{{ url_for('stores.view_purchase_history_owner', store_name=name) }}">
        <button type="submit" style="background-color: #008CBA; color: white; padding: 10px 24px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;">View Purchase History</button>
    </form>
{% endif %}
</div>


<table>
 {% for product in products %}
<tr>
    <td>
        {% with product=product %}
            {% include "partials/product.html"  %}
            {% if permissions and 'Remove' in permissions %}
                <form action="{{ url_for('products.remove_product', store_name=name, product_name=product.name) }}">
                    <button type="submit" style="background-color: #019CBA; color: white; padding: 4px 10px; margin: 5px 0; border: none; border-radius: 4px; cursor: pointer;">Remove Product</button>
                </form>
            {% endif %}
        {% endwith %}
        {% if permissions and 'Update' in permissions %}
            <form action="{{ url_for('products.edit_product_one_field', store_name=name, product_name=product.name) }}">
                <button type="submit" style="background-color: #019CBA; color: white; padding: 4px 10px; margin: 5px 0; border: none; border-radius: 4px; cursor: pointer;">Edit Product</button>
            </form>
        {% endif %}
    </td>
</tr>
    {% else %}
    <tr>
        <td></td>
        <td>No products found. Maybe this store is kinda new?</td>
    </tr>
    {% endfor %}
</table>

{% endif %}

{% endblock %}
