{% extends "layout.html" %}
{% block title %}Create store{% endblock %}

{% block page %}

<h1>{{ name }}</h1>

{% if not success %}

<p>Error: {{ message }}</p>

{% else %}
<p>
    you have {{ permissions }}
</p>

{% if ('Add' in permissions) %}
    <a href="{{ url_for('products.add_product', store_name=name) }}">
        Add product
    </a>
{% endif %}

{% if ('AppointManager' in permissions) %}
    <a href="{{ url_for('staff.appoint_manager', store_name=name) }}">
        Appoint Manager
    </a>
{% endif %}
<table>
    {% for product in products %}
<tr>
    <td><img src="{{ dicebear_product(product.name) }}" style="height: 4em;"/></td>
    <td>
        {% with product=product %}
        {% include "partials/product.html"  %}
        {% endwith %}
    </td>
</tr>
    {% else %}s
    <tr>
        <td></td>
        <td>No products found. Maybe this store is kinda new?</td>
    </tr>
    {% endfor %}
</table>

{% endif %}

{% endblock %}