{% extends "layout.html" %}
{% block title %}Create store{% endblock %}

{% block page %}

<h1>{{ name }}</h1>

{% if not success %}

<p>Error: {{ message }}</p>

{% else %}
<p>
    you have {{ permissions }}
</p>

{% if ('Add' in permissions) %}
    <form action="{{ url_for('products.add_product', store_name=name) }}">
        <button type="submit">Add product</button>
    </form>
{% endif %}

{% if ('AppointManager' in permissions) %}
    <form action="{{ url_for('staff.appoint_manager', store_name=name) }}">
        <button type="submit">Appoint Manager</button>
    </form>
{% endif %}

{% if ('AppointOwner' in permissions) %}
    <form action="{{ url_for('staff.appoint_owner', store_name=name) }}">
        <button type="submit">Appoint Owner</button>
    </form>
{% endif %}

{% if ('CancelManagerAppointment' in permissions) %}
    <form action="{{ url_for('staff.remove_manager', store_name=name) }}">
        <button type="submit">Remove Manager</button>
    </form>
{% endif %}

{% if ('CancelOwnerAppointment' in permissions) %}
    <form action="{{ url_for('staff.remove_owner', store_name=name) }}">
        <button type="submit">Remove Owner</button>
    </form>
{% endif %}
<table>
    {% for product in products %}
<tr>
    <td><img src="{{ dicebear_product(product.name) }}" style="height: 4em;"/></td>
    <td>
        {% with product=product %}
        {% include "partials/product.html"  %}
        {% if permissions and 'Remove' in permissions %}
            <form action="{{ url_for('products.remove_product', store_name=name, product_name=product.name) }}">
                <button type="submit">Remove Product</button>
            </form>
        {% endif %}
        {% endwith %}
    </td>
</tr>
    {% else %}
    <tr>
        <td></td>
        <td>No products found. Maybe this store is kinda new?</td>
    </tr>
    {% endfor %}
</table>

{% endif %}

{% endblock %}
