{% extends "layout.html" %}
{% block title %}Send Message{% endblock %}

{% block page %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Send Message</h1>
    <form method="post" class="needs-validation" novalidate>
        {{ form.hidden_tag() }}
        {% for field in (form.recipient, form.message, form.submit) %}
            <div class="form-group">
                {{ field.label(class="form-control-label") }}
                {{ field(class="form-control") }}
                {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
</div>
{% endblock %}