{% extends "layout.html" %}
{% block title %}Add Product{% endblock %}

{% block page %}
<h1>send message</h1>
<form method="post">
    
  {{ form.hidden_tag() }}
    <table>
        {% for field in (form.recipient, form.message, form.submit) %}
            <tr>
                <td>{{field.label}}&nbsp;</td>
                <td>{{ field }}</td>
                <td>
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
</form>

{% endblock %}