{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}

{% block page %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
<table>
    {% for store in stores %}
<tr>
    <td><img src="{{ dicebear_shop(store.name) }}" style="height: 4em;"/></td>
    <td><a href="{{ url_for('buying.view_store', name=store.name) }}">{{ store.name }}</a></td>
</tr>
    {% endfor %}
</table>

<div style="display: flex;">
    {% if ('OpenStore' in permissions) %}
        <form action="{{ url_for('stores.create_store') }}">
            <button type="submit" style="background-color: #008CBA; color: white; padding: 10px 24px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer; margin-right: 15px;">Create Store</button>
        </form>
    {% endif %}

    {% if ('CloseStore' in permissions) %}
        <form action="{{ url_for('stores.remove_store') }}">
            <button type="submit" style="background-color: #008CBA; color: white; padding: 10px 24px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer; margin-right: 15px;">Remove Store</button>
        </form>
    {% endif %}

    {% if ('CloseStore' in permissions) %}
        <form action="{{ url_for('stores.reopen_store') }}">
            <button type="submit" style="background-color: #008CBA; color: white; padding: 10px 24px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;">Reopen Store</button>
        </form>
    {% endif %}
</div>
        </div>
        <div class="col-md-4">

        {% if is_logged_in() %}
            <h1>Your stores</h1>
            <div>
                <a href="{{ url_for('stores.create_store') }}">
                    Open a new store
                </a>
            </div>
            <table>
            {% for store in your_stores %}
                <tr>
                    <td><img src="{{ dicebear_shop(store.name) }}" style="height: 4em;"/></td>
                    <td><a href="{{ url_for('buying.view_store', name=store.name) }}">{{ store.name }}</a></td>
                </tr>
            {% else %}

            <tr>
                <td colspan="2">
                    <p>You don't have any stores, yet.</p>
                    <p>You can open one, or be appointed to an existing one.</p>
                </td>
            </tr>
            {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
</div>

<footer style="font-size: x-large;">
    Made by: &nbsp;
    {% for dev in made_by %}
        <img src="{{ dicebear_user(dev) }}" style="height: 2em;"/>
        {{dev}}
{% endfor%}
</footer>
{% endblock %}
