{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

{% endblock %}

{% block scripts %}
<script type="text/data" id="data_username">{{ get_username() }}</script>
<script type="text/data" id="data_is_logged_in">{{ is_logged_in() }}</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"
        integrity="sha512-CryKbMe7sjSCDPl18jtJI5DR5jtkUWxPXWaLCst6QjH8wxDexfRJic2WRmRXmstr2Y8SxDDWuBO6CQC6IE4KTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
        src="https://cdn.socket.io/4.6.0/socket.io.min.js"
        integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
        integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('static', filename='ngjs_mini_app.js') }}"></script>
{% endblock %}

{% block navbar %}
<div ng-app="myApp" ng-controller="main">
    {{nav.mynavbar.render()}}
    <br />
</div>

{% endblock %}

{% block content %}
<main>
    <div>
        {% for message in get_flashed_messages() %} <!-- {{ message }}-->
        <p>
            {{message}}
        </p>
        {% else %}
        <!-- there are no flash message -->
        {%endfor%}
    </div>
    <div class="searchbox">
        <form action="{{url_for('searching.search_product')}}" method="get">
            <input type="text" name="query" placeholder="Search for products">
            <input type="submit" value="Search">
        </form>
    </div>
    {% block page %}
    {% endblock %}
</main>
{% endblock %}