main {
    position: absolute;
    top: 10%;
    bottom: 20%;
    left: 15%;
    right: 15%;
}
span.price {
    font-size: smaller;
}

span.price::after {
    content: "₪";
}

button.cool {
    background-color: #008CBA; color: white; padding: 10px 24px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;
}

div.msg {
    padding: 1em;
    margin: 1em;
}

div.msg-read {
    background-color: #b0b0b0;
}

div.msg-unread {
    background-color: rgb(0, 206, 206);
    font-weight: bold;
}

.sender {
    font-size: xx-large;
}